<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="OsmTileCacheFolder" value="C:\Temp\OsmTileCacheFolder\MapQuest" />
    <add key="OsmTilesUrl" value="http://otile1.mqcdn.com/tiles/1.0.0/osm/{0}/{1}/{2}.png" />-->
    <!--<add key="OsmTileCacheFolder" value="\\s-app-001\Tiles\OnlineCache"/>
    <add key="OsmTilesUrl" value="http://tile.openstreetmap.org/{0}/{1}/{2}.png"/>-->
    <!--<add key="OsmTileCacheFolder" value="\\s-app-001\Tiles\OnlineCache"/>-->
    <add key="OsmTilesUrl" value="http://tile.deltamedia.local/tile/{0}/{1}/{2}.png"/>
    <add key="NomatimAddress" value="http://nominatim.openstreetmap.org/search?q={0}"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
