<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="modernhttpclient" version="1.2.2" targetFramework="MonoAndroid31" />
  <package id="OsmSharp.Core" version="0.0.0.6-beta" targetFramework="MonoAndroid42" />
  <package id="OsmSharp.Routing" version="0.0.0.11-beta" targetFramework="MonoAndroid42" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="MonoAndroid42" />
  <package id="Zlib.Portable" version="1.9.2" targetFramework="MonoAndroid42" />
</packages>