<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="pbf_file" value="c:\OSM\bin\flanders_highway.osm.pbf"/>
    <add key="hostname" value="http://dm-wks-200:666/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
