<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="DataServicePort" value="18084"/>-->
    <add key="pbf_file" value="c:\OSM\bin\flanders_highway.osm.pbf"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
