<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="OsmTilesUrl" value="http://tile.deltamedia.local/tile/{0}/{1}/{2}.png"/>-->
    <add key="OsmTilesUrl" value="http://otile1.mqcdn.com/tiles/1.0.0/osm/{0}/{1}/{2}.png"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
