<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="OsmSharp.Android.Test.PerformanceApp" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk />
	<application android:label="OsmSharp.Android.Test.Performance"></application>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>